form#change-password-form(action='#', method='post', novalidate)
  .control-group
    label.control-label(for='change-password-old') Old password
    .controls
      .input-prepend
        .span.add-on
          i.icon-key
        input#change-password-old(name='oldPassword', type='password')
  .control-group
    label.control-label(for='change-password-new') New password
    .controls
      .input-prepend
        .span.add-on
          i.icon-key
        input#change-password-new(name='newPassword', type='password')
  .control-group
    label.control-label(for='change-password-confirm') Confirm password
    .controls
      .input-prepend
        .span.add-on
          i.icon-key
        input#change-password-confirm(name='confirmPassword', type='password')
  button.btn.btn-primary(type='submit') Change password
