#editor-container
  #code-section
    h1.title-bar Code
    .editor-text-wrapper
      textarea#code-text-area(cols='2', rows='2')
  #output-section
    h1.title-bar Output
    .editor-text-wrapper
      textarea#output-text-area(cols='2', rows='2', readonly)
