form#forgot-password-form(action='#', method='post', novalidate)
  .control-group
    label.control-label(for='forgot-password-email') Email
    .controls
      .input-prepend
        .span.add-on
          i.icon-envelope
        input#forgot-password-email(name='email', type='email')
  button.btn.btn-warning(type='submit') Forgot password
