#profile-dialog.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true',
    title='close') &times;
    h3 My account
  .modal-body
    .modal-section
      include _changepassword
    .modal-section
      include _signout
